template1.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_ihcl_card_validation_name": {
            "defaultValue": "lap-tdsit-st-ci-dat-02",
            "type": "String"
        },
        "connections_documentdb_5_externalid": {
            "defaultValue": "/subscriptions/fed7bc8d-2068-43fb-ba61-9e1a05b7ec85/resourceGroups/tdsit-rg-sit-dat-datpl-01/providers/Microsoft.Web/connections/documentdb",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
             "dependsOn": [
                 "[resourceId('Microsoft.Web/connections', parameters('connections_documentdb_5_name'))]",
            ],
            "name": "[parameters('workflows_ihcl_card_validation_name')]",
            "location": "centralindia",
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "card_string": {
                                            "type": "string"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Content-Type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Response_2": {
                                    "runAfter": {},
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "Card is present",
                                        "statusCode": 200
                                    }
                                }
                            },
                            "runAfter": {
                                "DateTime": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response_3": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": "card is not present",
                                            "statusCode": 200
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@variables('card_array')",
                                            "@variables('card_no')"
                                        ]
                                    },
                                    {
                                        "not": {
                                            "equals": [
                                                "@length(variables('card_array'))",
                                                0
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Current_time": {
                            "runAfter": {
                                "validstatus": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Expression",
                            "kind": "CurrentTime",
                            "inputs": {}
                        },
                        "DateTime": {
                            "runAfter": {
                                "Current_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "datetime",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Get_a_document')?['CARD_DETAILS']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "card_array",
                                        "value": "@items('For_each')['CARD_NO']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_a_document": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ],
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "@{int(variables('tic_number'))}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/dbs/@{encodeURIComponent('ihcl-membership-cards')}/colls/@{encodeURIComponent('card_details')}/docs/@{encodeURIComponent(variables('tic_number'))}"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "card_no",
                                        "type": "string",
                                        "value": "@{split(split(triggerBody()?['card_string'],'^')[3],'?;')[0]}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "tic_number",
                                        "type": "string",
                                        "value": "@{split(split(split(triggerBody()?['card_string'],'^')[3],'?;')[1],'=')[0]}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Get_a_document": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "card_array",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "card_string": {
                                            "type": "string"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Content-Type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Get_a_document": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "MESSAGE": "TIC number does not exist",
                                    "STATUS": "NOTAVL"
                                },
                                "statusCode": 200
                            }
                        },
                        "validstatus": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "validation_status",
                                        "type": "boolean",
                                        "value": false
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "documentdb": {
                                "connectionId": "[parameters('connections_documentdb_5_externalid')]",
                                "connectionName": "documentdb"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_documentdb_5_name')]",
            "location": "centralindia",
            "properties": {
                "displayName": "cdb-tdsit-st-ci-dat-01",
                "customParameterValues": {},
                "api": {
                    "id": "/subscriptions/fed7bc8d-2068-43fb-ba61-9e1a05b7ec85/providers/Microsoft.Web/locations/centralindia/managedApis/', parameters('connections_documentdb_5_name'))]"
                }
            }
        }
    ]
}
